{% extends "base.html" %}

{% block title %}Class list{% endblock title %}

{% block content %}
<h1>List of classes</h1>
<a href="{% url 'teacher:main'%}" class="btn btn-danger">Return</a>
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Profile</th>
            <th>Teacher</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for class in class_list %}
        <tr>
            <td>{{ class.symbol }}</td>
            <td>{{ class.profile }}</td>
            <td>{{ class.teacher }}</td>
            <td><a href="{% url "teacher:student list" pk=class.pk %}" class="btn btn-primary">View Students</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}