{% extends "base.html" %}

{% block title %}Grade list{% endblock title %}

{% block content %}
<h1>Grades of {{ student.first_name }} {{ student.last_name }}</h1>
<a href="{% url 'teacher:student list' pk=student.sclass.pk %}" class="btn btn-danger">Return</a>
<a href="{% url 'teacher:grade new' pk=student.pk %}" class="btn btn-success">Add Grade</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>Date</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
        <tr>
            <td>{{ grade.name }}</td>
            <td>{{ grade.value }}</td>
            <td>{{ grade.date }}</td>
            <td>{{ grade.subject }}</td>
            <td>{{ grade.teacher }}</td>
            <td><a href="{% url "teacher:grade mod" pk=grade.pk s_pk=grade.student.pk %}" class="btn btn-warning">change grade</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}