{% extends "base.html" %}

{% block title %}Student list{% endblock %}

{% block content %}
<a href="{% url 'administrator:class list'%}" class="btn btn-danger" >Return</a>
<a href="{% url 'administrator:student new' c_pk=c_pk %}" class="btn btn-success">Add new Student</a>
<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Gender</th>
            <th>Birth date</th>
            <th>Address</th>
            <th>Class</th>
            <th colspan="3">Options</th>
        </tr>
    </thead>
    <tbody>
    {% for stud in students %}
        <tr>
            <td>{{stud.first_name}}</td>
            <td>{{stud.last_name}}</td>
            <td>{{stud.gender}}</td>
            <td>{{stud.birth_date}}</td>
            <td>{{stud.address}}</td>
            <td>{{stud.sclass}}</td>
            <td><a href="{% url 'administrator:student cred' pk=stud.id c_pk=c_pk %}" class="btn btn-warning">Generate new password</a></td>
            <td><a href="{% url 'administrator:student mod' pk=stud.id c_pk=c_pk %}" class="btn btn-warning">Edit</a></td>
            <td><a href="{% url 'administrator:student del' pk=stud.id c_pk=c_pk %}" class="btn btn-danger" >Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}