{% extends "base.html" %}

{% block title %}Subject list{% endblock %}

{% block content %}
<a href="{% url 'administrator:main' %}" class="btn btn-danger" >Return</a>
<a href="{% url 'administrator:subject new' %}" class="btn btn-success">Add new subject</a>
<table class="table">
    <thead>
        <tr>
            <th>Subject</th>
            <th colspan="2">Options</th>
        </tr>
    </thead>
    <tbody>
    {% for subj in subject_list %}
        <tr>
            <td>{{subj.name}}</td>
            <td><a href="{% url 'administrator:subject mod' pk=subj.id %}" class="btn btn-warning">Edit</a></td>
            <td><a href="{% url 'administrator:subject del' pk=subj.id %}" class="btn btn-danger" >Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}