{% extends "base_generic.html" %}

{% block title %}Class list{% endblock %}

{% block content %}
<a href="{% url 'class create' %}">Dodaj</a>
<table>
    <tr>
        <th>Symbol</th>
        <th>Profile</th>
        <th>Teacher</th>
        <th colspan="2">Options</th>
    </tr>
{% for class in class_list %}
    <tr>
        <td>{{class.symbol}}</td>
        <td>{{class.profile}}</td>
        <td>{{class.teacher}}</td>
        <td><a href="{% url 'class update' pk=class.id %}">Edytuj</a></td>
        <td><a href="">e</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}