{% extends "base_generic.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Data urodzenia</th>
        <th>Płeć</th>
        <th>Klasa</th>
        <th>Adres Zamieszkania</th>
        <th colspan="2">Opcje</th>

    </tr>
{% for ucz in students %}
    <tr>
        <td>{{ucz.imie}}</td>
        <td>{{ucz.nazwisko}}</td>
        <td>{{ucz.data_ur}}</td>
        <td>{{ucz.plec}}</td>
        <td>{{ucz.klasa}}</td>
        <td>{{ucz.adres_zam}}</td>
        <td><a href="{% url 'ucz update' pk=ucz.id %}">Edytuj</a></td>
        <td><a href=""></a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}